.holder {
  display: flex;
  border: solid black 5px;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  flex-wrap: wrap;
  overflow: hidden;
  width: 1000px;
 
}
.item {
  width: 500px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: large;
}
.item:last-child {
  order: -1;
  background-color: orange;
   flex-grow: 1;
}
    
.item:first-child {
  order: -2;
  background-color: rgb(223, 87, 87);
  flex-grow: 1;
}
.item:nth-child(4) {
  order: 1;
  background-color: green;
  display: flex;
  flex-basis: 333px;
  flex-shrink: 4;
}
.item:nth-child(2) {
  order: 1;
  background-color: rgb(50, 112, 226);
  display: flex;
flex-basis: 333px;
  flex-shrink: 4;
}
.item:nth-child(3) {
  background-color: rgb(152, 88, 212);
  display: flex;
 flex-basis: 333px;
  flex-shrink: 4;
}
